@charset "utf-8";

html {
font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$baseColor : #f9f8f6;
$subColor : #887f69;
$subColor2 : #e2ddd4;
$subColor3 : #b0b0b0;
$keycolor : #9d1a2d;
$fontColor: #4c4c4c;

body{
  color: $fontColor;
  font-size: 1.4rem;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

/**************************************/


header{
    margin: 40px;
    
    #header_in{
      
      @media (max-width: 550px) {
      .logo{ text-align:center
      }
      .logo { text-align: center; }
      .sp_sns_li { list-style: outside none none; text-align:center;}
      .sp_sns_li li{display:inline-block; margin:10px auto;}
      .sp_navi ul { display: none; }
      .sp_sns { padding: 0px 10px 0px 0px; }
      .sp_sns_li li { padding: 0px 10px 0px 0px; }
      .sp_navi { padding: 0px; }
    }
    
     .sp_navi_btn{     
      width: 180px;
      position: absolute;
      top:50px;
      right:2%;
      border: 1px solid #eee;
      margin: 0;
      padding: 0;



    li{

      list-style: none;
      margin: 0;
      padding: 0;

      a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
      }
    }
  
    
   }
   
   .pc_navi{
     
     .pc_navi_li{
      margin: 20px;
      padding:0;

      li{
        list-style:none;
        margin: 5px 5px 0 0;
        padding: 0;

        a{
          float: left;
          padding-right: 20px;
        }

        a:hover{
          opacity: 0.5 ;
        }
      }
    }

     .pc_navi_li2{
      margin: 0px;
      padding:0;

      li{
        list-style:none;
        margin: 5px 2px 0 0;
        padding: 0;

        a{
          float: left;
          padding-right: 15px;
        }

        a:hover{
          opacity: 0.5 ;
        }
      }    
    }    
      @media (max-width: 550px) {  
      display: none;
      }
      }
  
    @media (min-width: 550px) {
    .sp_navi {
      display: none;      
      }
    .sp_sns {
      display: none;      
      } 
      
    #header_in{
      padding: 5px 0 10px 0;
      }  
    
      } 

   }  
  }

    .sp_navi_li{
    width: 180px;
    position: absolute;
    top:50px;
    right:2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding:0;
    display: none;
    z-index: 100;

    li{

      list-style: none;
      margin: 0;
      padding:0;

      a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
 
 
   @media (min-width: 550px) {
     .toggle{
     display: none;
     }  
     }


  

// header




  .newitems{
    padding: 40px 0 20px 0;
    text-align:center
  }
  
  @media (max-width: 550px) {
    .newitems {
      display: none;      
      }
  }
  
   @media (min-width: 550px) {
    .news {
      display: none;      
      }  
  }
  
    .news {
    text-align: center;
    color: #887f69;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
    letter-spacing: 0.2rem;
    }
    
    .newitems_contens{
     background-color:white;
    }
    
    .newitems_li{
      text-align: center;
      list-style:none;
      margin:0;
    
    
    li {
    text-align: center;
    width: 210px;
    border:1px solid $baseColor;
    float:left;
    padding: 12px;
    margin: 0; 
    img {
    max-width: 100%;
    }
    }
    
    p {
    margin-bottom:10px ;
    }
    
    span {
    text-align: left ;
    font-size: 1.2rem;
    }
    }
    
    @media (max-width: 550px) {
    .newitems_li li{
    box-sizing:border-box;
    width:50% ;
    margin:auto ;
      }
    }
    
  // newitems
  
    .popular{
    padding: 40px 0 20px 0;
    text-align:center
    }
  
    @media (max-width: 550px) {
    .popular {
      display: none;     
      }
     }
  
    @media (min-width: 550px) {
    .pop {
      display: none;      
      }  
  }
  
    .pop {
    text-align: center;
    color: #887f69;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
    letter-spacing: 0.2rem;
    }
    
    .popular_contens{
     background-color:white;
    }
    
    .popular_li{
      text-align: center;
      list-style:none;
      margin:0;
    
    
    li {
    text-align: center;
    width: 210px;
    border:1px solid $baseColor;
    float:left;
    padding: 12px;
    margin: 0;
    img {
    max-width: 100%;
    }
    }
    
    p {
    margin-bottom:10px ;
    }
    
    span {
    text-align: left ;
    font-size: 1.2rem;
    }
    }
    
    @media (max-width: 550px) {
    .popular_li li{
    box-sizing:border-box;
    width:50% ;
    margin:auto ;
      }
    }
    
  // popular
  
      .guide{
       padding: 40px 0 20px 0;
       text-align:center
       }
       
      @media (max-width: 550px) {
      .guide {
      display: none;     
      }
      }
  
      @media (min-width: 550px) {
      .gd {
      display: none;      
      }  
      }
      
      .gd {
       text-align: center;
       color: #887f69;
       font-size: 2rem;
       font-weight: bold;
       margin: 20px;
       letter-spacing: 0.2rem;
      }
      
      
      .guide_li{
      display: flex;
      text-align: left;
      list-style:none;
      margin:0;
      
      li {
      width: 330px;
      background-color:white;
      float:left;
      padding: 10px;
      margin: 2px;
      }
     }
     .gt {
     text-align: left;
     color: #887f69;
     font-size: 1.6rem;
     font-weight: bold;
     margin: 10px;
     letter-spacing: 0.2rem;
     }
     .gs {
      text-align: left;
      margin: 10px;
      font-size: 1.4rem;
      color: #887f69;
     }
     p{
      margin: 2px;
      color: black;
     }
     
     
    @media (max-width: 550px) {
    .guide_li{
    flex-direction: column;
    li{
    width:95%;
    padding: 2.4%;
      }
      }
    }

  // guide
  
  
  .search-area{
  padding: 20px 20px 0px;;  
  background-color:white;
  form{position:relative;}
  form{margin:0;}
  #searchInput{width:100%; height:25px; padding-right:10px; background-color:#f5f5f5;}
  #searchbutton{position:absolute; right:10px; top:5px;}
  @media (max-width: 550px) {
  margin-top: 10px;
  }
  }
  
  @media (max-width: 550px){
  .srcb{
   display: none;
  }  
  }
  
  // search
  
  .pagelink{
   margin-top: 10px;
   padding: 5px;
   background-color:#887f69;
   background-image: url("../images/top/next_icon.png");
   background-repeat: no-repeat;
   background-position: 95% center
  }
   .pj{
      text-align: left;
      margin: 10px;
      font-size: 1.2rem;
      color: white;
     }
     
   .cate{
   margin-top: 10px;
   padding: 12px;
   background-color:#887f69;
   background-image: url("../images/top/down_icon.png");
   background-repeat: no-repeat;
   background-position: 95% center
  }
  
   .cate2{
   margin-bottom: 1px;
   padding: 15px;
   background-color: white;
   background-image: url("../images/top/next_icon_gray.png");
   background-repeat: no-repeat;
   background-position: 95% center
   }
   .c2{
    text-align: left ;
    display:table-cell;
    font-size: 1.2rem;
    }
    
   .about{
    margin-top: 10px;
    padding: 12px;
    background-color:#887f69;
   }
   
   .about2{
    padding: 12px 12px 0px 12px;
    margin-bottom: 0px;
    background-color: white;
    
    p{
    margin: 0px;
    text-align: left ;
    font-size: 1.2rem;
    }
    
    }
    
    @media (max-width: 550px){
  .about2{
   display: flex;
   margin-top: 10px;
   p{
     padding: 0 5% 0 5%;
     }
    }  
    }
   
   .more{
    position: right ;
    padding: 12px 0px 15px 0px; 
    background-color: white;
    }
    
    .mr{
    display: block;
    margin:auto;
    }
    
    
   .pagetop_navi{
    margin-top: 40px;
    position: relative;
    text-align: right ;
    }
    
    .line{
     margin-top: 10px;
     border-top: 1px $subColor3 solid;
    }
    
    @media (max-width: 550px){
     .pt{
     display: block;
     margin:auto;
     paddig-bottom: 10%; 
     }
    }
    
    .ft{
     padding: 0px;
     position: relative;
     text-align: center ;
     font-size: 1.2rem;
     span{
     font-size: 1rem;
     color: $subColor ;
     }
    }
    
    
    // top-page
    
    .pan{
     margin: 0 0 10px 0;
     background-Color: $subColor2;
     border-radius: 5px;
     .pan2{
      display: flex;
      padding: 5px;
      color: #887f69;
      font-size: 1.2rem;     
     .home{
     margin: 5px;
     width: 12px;
     height: 11px;
     }
     }
    }
    
    .cni{
    margin: 0 0 0 5px;
    }
    
    .backnext{
     margin: 15px 0 15px 0;
     display: flex;
     justify-content: space-between;
     .bn{
     background: $subColor;
     text-align: center;
     color: white;
     font-size: 1.2rem;
     font-weight: bold;
     padding: 10px 25px;
     letter-spacing: 0.2rem;
     }
    }
    
    
   .rece{
    margin: 0 0 15px 0;
    }
    
   .rece-sp{
    text-align: center;    
    margin: 0 0 15px 0;
    }
    
    @media (max-width: 550px){
     .rece{
     display: none;
     }
    }
    
    @media (min-width: 550px){
     .rece-sp{
     display: none;
     }
    }
    
    // list-page
    
    
    .p-area{
     background: white;
     padding: 30px 50px;
     margin-bottom: 40px;
     .p-name{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
     .p-name1{
      font-weight: bold;
     }
      .p-name2{
      font-size: 1.2rem;
      Color: $subColor;
     }
     }
     }
     
     .line2{
     Color: $subColor;
     }
     
     .p-main{
     .p-main-v{
      float: left;
      width:71%;
          img{
              width:100%;
          }
      }
      .pms{
      float: left;  
      width:29%;
      }
      .pms_li{
      padding: 0 0 0 3%;
      }
      
     .pms_li li{
      list-style: none;
      float: left;
      width:48%;
      margin:0 1%;
      padding:0;
     }
     .pms_li li img{
      width:100%;
      }
     }
     
       @media (max-width: 550px) {
      .p-main{
          .p-main-v{
       width: 100%;
      }
      }
      }
      
      @media (max-width: 550px) {
      .p-main{
      .p-main-v{
       width: 100%;
        }
      }
      }
      
      @media (max-width: 550px) {
       .p-main{
       .pms{
        width: 100%
       }
       }
      }
      
       @media (max-width: 550px) {
       .p-main{
       .pms_li{
        padding:0;
       }
       .pms_li li{
        width: 18%
       }
       }
      }
      
        .line3{
        Color: $subColor;
        margin-top: 0px;
        margin-bottom: 20px;
        }
     
     .table1{
      margin-top: 10px;
      width: 100%;
      border-collapse: collapse;
      font-size: 1.2rem;
      color: #b0b0b0;
     }
      .table1 th{
      width: 25%;
      padding: 10px;
      text-align: center;
      vertical-align: top;
      font-weight: normal;
      background-color: $baseColor;
      border: 1px solid $subColor2;
      }
      
      .table1 td{
      padding: 10px;
      text-align: center;
      vertical-align: top;
      border: 1px solid $subColor2;
      }
      
      .bg_y{
       background-color: $baseColor;
       }
        
        
       .psm{
        padding: 0 50px 0 0;
        }
        
        
      .price-qua{
        margin: 0;
       }
        
      .price{
       padding: 10px 0 10px 0;
       border-top: 1px solid $subColor2;
       border-bottom: 1px solid $subColor2;
      }
       
      .price-card{
       display:inline-block;
       font-size: 1.4rem;
       font-style: italic;
       .yen{
        color: red;
        }
       .numbers{
        font-size: 2rem;
        color: red;      
        }
       }
       
       
       .qua{
        margin-top: 0px;
       .qum{
        padding: 10px 20px 10px 0;
        }
       .qbox{
        display:inline-block;
        margin: 30px 10px 0 10px;
        padding: 0px;
        background-color: white;
        border: 1px solid $subColor2;
        width: 150px;
        height: 40px;
       }
       }
       
       .cart{
        display:inline-block;
       }
       
       @media (max-width: 550px) {
        .crt{
        text-align: center;
        }
       }
       
       @media (max-width: 550px) {
        .qua{
         margin-bottom:20px;
        }
       }
       
        @media (max-width: 550px) {
        .container{
          padding: 0;
        }
       }

     .desc{
      margin-top: 30px;
     }
     
     .desct{
     font-size: 1.8rem;
     color: $subColor;
     }
       
     .table2{
      margin: 20px 0 40px 0;
      width: 100%;
      border-collapse: collapse;
      font-size: 1.2rem;
      color: #b0b0b0;
     }
     
     .ltable{
      width: 25%;
      padding: 10px;
      text-align: center;
      vertical-align: top;
      font-weight: normal;
      background-color: $baseColor;
      border: 1px solid $subColor2;
      }
      
     .rtable{
      padding: 10px;
      font-weight: normal;
      vertical-align: top;
      border: 1px solid $subColor2;
      }

/* 山田追記 */
@media (max-width: 550px) {
.toggle {
display: none;
position:relative;
}
.sp_navi_li {
display: block;
position: relative;
top: -20px;
left: 30px;
}
}